extends ../templates/default.pug
block content
    include ../includes/topmenu.pug
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    a.text-secondary(style="font-size:10px" href="https://www.freepik.com/free-vector/light-blue-skyline-of-paris_1933726.htm") Image Designed by Freepik

    div
        div#presentation.container-fluid.full-height
            div.scroll
                div.mouse
                    div.wheel

            canvas.particles

            div#banner-text.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                p.display-4.text-center.mb-4.teste Marcos Henrique
                h5.text-center Professor
                hr.col-sm-6.offset-sm-3
                h1.text-center Curso de Francês

        div#about.container-fluid.full-height.pt-5.bg-tower
            div.container
                div.row
                    div.col-xs-12.col-sm-12
                        h1#animate-about.hidden.text-center.float-left Sobre

                    div.col-xs-12.col-sm-8.pt-5.text-justify
                        h5 Professor desde 1999, venho acumulando experiência no ensino da língua francesa.
                        h5.mt-5 Minha experiência na língua engloba a participação em cursos, conferências, palestras, ministração de aulas, realização de entrevistas e viagens, onde pude vivenciar a língua na prática.
                        a.link-text-color(href="#experience") leia mais...

                        h2.pt-5 Aulas com foco específico
                        h5: ul
                                li Preparação para candidatos a entrevista de trabalho e outras entrevistas
                                li Francês para missão e viagens ao exterior
                                li Preparação para provas e concursos:
                                ul
                                    li TCF e TCFq
                                    li Carreira diplomata
                                    li CAPS
                                    li TCL (teste de credenciamento linguístico) - Ministério da Defesa Exército Brasileiro DEP DPEP
                                    li TEF (teste de avaliação francesa)
                                
                        a.link-text-color(href="#methodology") leia mais...

                    div#animate-profile.col-xs-12.col-sm-4.hidden-right
                        img.mx-auto.d-block.mt-5.img-responsive(src="img/pfmh.jpg")

        div#differentials.container-fluid.bg-light-gray
            div.container
                h1#animate-diff.hidden.text-center.pt-5 Diferenciais
                div.row.text-center.pb-5
                    div.col-xs-12.col-sm-12.col-md-4.pt-5
                        img(src="img/responsive.svg" width="200" height="200")
                        h2.mt-3.text-info Flexibilidade
                        h5 Onde você estiver poderá fazer suas aulas de francês a distância, pela internet

                    div.col-xs-12.col-sm-12.col-md-4.pt-5
                        img(src="img/innovation.svg" width="200" height="200")
                        h2.mt-3.text-info Inovação
                        h5 Para quem quer estudar história geral e do Brasil em francês, foi desenvolvido um material específico para este tema

                    div.col-xs-12.col-sm-12.col-md-4.pt-5
                        img(src="img/culture.svg" width="200" height="200")
                        h2.mt-3.text-info Cultura
                        h5 Estude através da cultura de outros países e aprenda mais que uma língua

        div#experience.container-fluid.pt-5.pb-5.bg-tower
            div.container
                h1#animate-exp.hidden.pb-5 Experiência
                h5: ul.mt-3 
                    li Professor desde 1999
                    li Professor de francês nos seguintes cursos:
                    ul
                        li IIC Instituto Idiomas Cidade – Brasília/DF
                        li Curso DIPLOMATA – Brasília/DF
                        li HI Idiomas – Brasília/DF
                        li CELTIC – Brasília/DF
                        li CAIC – Valparaíso Goiás/GO - Formação de oficina de língua estrangeira
                        li Espaço de Cultura Garcia Lorca (Casa do Ceará) - Brasília/DF

                h2.pt-5 Formação

                h5: ul
                    li Graduado em letras - Francês
                    li DEUG NANCY I, II e III (língua, literatura e civilização francesa)

                h5.pt-5 Cursos de aperfeiçoamentos
                    ul.mt-3
                        li DALF
                        li DELF 1
                        li DELF 2
                        li Tradução
                        li Curso de perfectionnement 1 CP1
                        li Curso de perfectionnement 2 CP2
                        li Curso de desenvolvimento sustentável pela Universidade de LAVAL – Canadá
                        li Curso de Francês - Cultura Francesa – Fortaleza/CE (Extensão da Universidade Federal do Ceará)

        div#methodology.container-fluid.full-height.bg-light-gray.pt-5
            div.container
                h1#animate-method.pb-5.hidden Metodologia

                h5 Áudios e vídeos didáticos.
                h5 Simulados para TCF, TCFq, DELF e DALF.
                h5 Apostilas desenvolvidas pelo professor, direcionadas às necessidades de cada aluno.
                h5 Dinâmica de entrevistas para provas de proficiência e para candidatos a vagas de trabalho em países francófonos.

                h2.pt-5 Estrutura do curso
                h5 Aulas individuais ou em grupo com até quatro alunos.
                h5 Aulas a distância pela internet.
                h5.mt-3 O curso compreende os seguintes níveis
                    ul.mt-3
                        li Básico
                        li Intermediário
                        li Avançado
                        li Conversação

                h5 O material didático é atual e diversificado tornando a aula dinâmica e eficiente.

                h2.pt-5 Aulas inovadoras
                h5 As aulas são personalizadas, para atender as necessidades do aluno.
                h5 Para o desenvolvimento da escrita, são empregadas técnicas tais como, résumé, compte rendu, synthèse, rédaction.
                h5 Já para as aulas de oral, são adotadas metodologias diferenciadas para os níveis básico, intermediário e avançado. São aplicadas cerca de 300 questões, abrangendo diferentes temas, preparadas para o aluno desenvolver a conversação.

        div#contact.container-fluid.bg-tower(style="background-position: center")
            div.container.pt-5.pb-5
                div.row
                    div.col-xs-12.col-sm-12.col-md-6
                        h2#animate-contact-title.hidden Prof. Marcos Henrique
                        h4#animate-contact-sub-title.hidden Curso de Francês

                        h5: ul
                            li Concursos
                            li Entrevistas
                            li Provas DELF / DALF
                            li Viagens com dicas de pontos turísticos
                            li Especializações em países francófonos

                    div.col-xs-12.col-sm-12.col-md-6.mt-4.pt-3
                        table
                            tr
                                td.text-center: h4: i.f25.fa-1x.fa.fa-map-marker &nbsp;
                                td: h5 Brasília - DF
                            tr
                                td.text-center: h5: i.f25.fa-1x.fa.fa-skype &nbsp;
                                td: h5 mhenrique131
                            tr
                                td.text-center: h6: i.fa-1x.fa.fa-envelope &nbsp;
                                td: h5: a.link-text-color(href="mailto:prof.fr.marcoshenrique@gmail.com") prof.fr.marcoshenrique@gmail.com <br/>
                            tr
                                td.text-center: h5: i.f25.fa-1x.fa.fa-phone &nbsp;
                                td: h5: a.link-text-color(href="tel:+ 55 61 99261.7539") + 55 61 99261.7539 <i class="fa fa-whatsapp text-secondary"></i>
                            tr
                                td.text-center: h5: i.f25.fa-1x.fa.fa-facebook &nbsp;
                                td: h5: a.link-text-color(href="https://www.facebook.com/profmarcoshenrique" target="blank") profmarcoshenrique

        div.col.text-center.text-secondary.pb-3
            span Designed by <a class="link-text-color" href="https://www.linkedin.com/in/victoreduardobarreto/" target="blank">Victor Barreto</a>